@{;
    ViewBag.Title = "信用记录报告";
    Layout = "~/Views/Shared/_FormEasyui.cshtml";
}
<style>
    td input[type='text'] {
        border: none;
        outline: medium;
    }
</style>
<script>
    var userID = request('userID');
    $(function () {
        $("#userID").val(userID);
        initControl();
         

    });
    //初始化控件
    function initControl() {

        //获取表单
        if (!!userID) {
            $.SetForm({
                url: "../../CreditManage/CreditWrite/GetDataGridJsonAll",
                param: { userID: userID },
                success: function (data) {
                    console.log(data);
                    var rows = data.rows;
                    var allFen = data.allFen;
                    $("#AllCount").html("信用报告评分:" + String(allFen));

                    for (var i = 0; i < rows.length; i++) {
                        $("#year" + i).html(rows[i].iYear + "年");
                        $("#money" + i).val(rows[i].fenShu);

                        if ($("#af" + i).css("display") == 'none') {//如果show是隐藏的

                            $("#af" + i).css("display", "block");//show的display属性设置为block（显示）

                        }
                    } 
                    $("#userName").val(rows[0].userName);
                    $("#carCode").val(rows[0].carCode);
                     

                    $.SetForm({
                        url: "../../CreditManage/CreditWrite/GetFormJsonV",
                        param: { userID: userID, iYear: rows[0].iYear },
                        success: function (data) {
                            $("#form2").SetWebControls(data);
                        }
                    })
                     
                    //$("#AllCount").html("信用报告评分：90.3");
                    //$("#year1").html("1990");
                    //$("#year2").html("1990");

                }
            })
        }
    }
    function SelectPerson(sign) {


        var userID = $("#userID").val();
        var iYear = 0;

        if (sign == 0) {
            var tmp = $("#year0").html();
            if (!tmp) {
                dialogMsg("年度信息不存在，无法查看", 0);
                return;
            }
            iYear = tmp;
        }
        if (sign == 1) {
            var tmp = $("#year1").html();
            if (!tmp) {
                dialogMsg("年度信息不存在，无法查看", 0);
                return;
            }
            iYear = tmp;
        }
        if (sign == 2) {
            var tmp = $("#year2").html();
            if (!tmp) {
                dialogMsg("年度信息不存在，无法查看", 0);
                return;
            }
            iYear = tmp;
        }
        if (sign == 3) {
            var tmp = $("#year3").html();
            if (!tmp) {
                dialogMsg("年度信息不存在，无法查看", 0);
                return;
            }
            iYear = tmp;
        }
        if (sign == 4) {
            var tmp = $("#year4").html();
            if (!tmp) {
                dialogMsg("年度信息不存在，无法查看", 0);
                return;
            }
            iYear = tmp;
        }


        $.SetForm({
            url: "../../CreditManage/CreditWrite/GetFormJsonV",
            param: { userID: userID, iYear: iYear.replace("年", '') },
            success: function (data) {
                $("#form2").SetWebControls(data);
            }
        })
    }


    function AcceptClick() {
        dialogClose();
    }

 
    function printdiv() { 
        document.getElementById('btn_Print').style.display = 'none';//不需要打印的部分隐藏
        window.print();
        document.getElementById('btn_Print').style.display = 'block';//恢复打印前的页面
        return false;
      
    }
</script>
<div style="margin-top: 10px; margin-right: 30px; margin-left:30px">

    <div class="tab-content" style="padding-top: 15px;">
        <div id="BaseInfo" class="tab-pane active">


            <table class="form">
                <tr>
                    <td align="center" id="AllCount" style="font-size:25px" colspan="4"></td>
                </tr>
                <tr>
                    <td align="center" style="font-size:20px" colspan="4">&nbsp;</td>
                </tr>

                <tr>

                    <td align="center" style="font-size:20px" id="year0"></td>


                    <td align="center" style="font-size:20px" id="year1"></td>

                    <td align="center" style="font-size:20px" id="year2"></td>

                    <td align="center" style="font-size:20px" id="year3"></td>

                    <td align="center" style="font-size:20px" id="year4"></td>

                </tr>

                <tr>
                    <td class="formValue">
                        <input id="money0" type="text" class="form-control" readonly />
                        <a id="af0" href="javascript:;" onclick="SelectPerson(0)" class="searchbox-buttonV" style="display: none;" icon-index="0" tabindex="-1"></a>
                    </td>
                    <td class="formValue">
                        <input id="money1" type="text" class="form-control" readonly />
                        <a id="af1" href="javascript:;" onclick="SelectPerson(1)" class="searchbox-buttonV" style="display: none;" icon-index="0" tabindex="-1"></a>
                    </td>
                    <td class="formValue" style="position:relative;">
                        <input id="money2" type="text" class="form-control" readonly />
                        <a id="af2" href="javascript:;" onclick="SelectPerson(2)" class="searchbox-buttonV" style="display: none;" icon-index="0" tabindex="-1"></a>

                    </td>

                    <td class="formValue">
                        <input id="money3" type="text" class="form-control" readonly />
                        <a id="af3" href="javascript:;" onclick="SelectPerson(3)" class="searchbox-buttonV" style="display: none;" icon-index="0" tabindex="-1"></a>
                    </td>

                    <td class="formValue">
                        <input id="money4" type="text" class="form-control" readonly />
                        <a id="af4" href="javascript:;" onclick="SelectPerson(4)" class="searchbox-buttonV" style="display: none;" icon-index="0" tabindex="-1"></a>
                    </td>

                </tr>
               
            </table>

            <form id="form2">

                <div class="column"><span class="current" style="left: 10px;">信用用户</span></div>
                <table class="form">
                    <tr>
                        <td class="formTitle">姓名</td>
                        <td class="formValue" style="position:relative;">
                            <input id="userName" type="text" class="form-control" />
                        </td>
                        <td class="formTitle">身份证</td>
                        <td class="formValue">
                            <input id="carCode" type="text" class="form-control" readonly />
                        </td>
                    </tr>

                </table>

                <div class="column"><span class="current" style="left: 10px;">个人还贷能力</span></div>

                <table class="form">

                    <tr>
                        <td class="formTitle">收入水平</td>
                        <td class="formValue">
                            <input type="hidden" id="userID" />
                            <input id="shouRu" type="text" class="form-control" />
                        </td>

                        <td class="formTitle">教育程度</td>
                        <td class="formValue">
                            <input id="jiaoYu" type="text" class="form-control" readonly />
                        </td>
                        <td class="formTitle">家庭状况</td>
                        <td class="formValue">
                            <input id="jiaTing" type="text" class="form-control" readonly />
                        </td>
                    </tr>
                    <tr>
                        <td class="formTitle">职业</td>
                        <td class="formValue">
                            <input id="zhiYe" type="text" class="form-control" readonly />
                        </td>
                        <td class="formTitle">消费水平</td>
                        <td class="formValue">
                            <input id="xiaoFei" type="text" class="form-control" readonly />
                        </td>

                        <td class="formTitle">健康状况</td>
                        <td class="formValue">
                            <input id="jiangKang" type="text" class="form-control" readonly />
                        </td>
                    </tr>
                    <tr>
                        <td class="formTitle">家庭财产</td>
                        <td class="formValue">
                            <input id="caiChan" type="text" class="form-control" readonly />
                        </td>


                        <td class="formTitle">个人信贷记录</td>
                        <td class="formValue">
                            <input id="xinDai" type="text" class="form-control" readonly />
                        </td>
                    </tr>


                </table>

                <div class="column"><span class="current" style="left: 10px;">个人还贷意愿</span></div>

                <table class="form">
                    <tr>
                        <td class="formTitle">银行金融违约</td>
                        <td class="formValue">
                            <input id="yinHangWY" type="text" class="form-control" readonly />
                        </td>

                        <td class="formTitle">公共违约记录</td>
                        <td class="formValue">
                            <input id="gongGongWY" type="text" class="form-control" readonly />
                        </td>
                        <td class="formTitle">信用担保记录</td>
                        <td class="formValue">
                            <input id="danBaoJL" type="text" class="form-control" readonly />
                        </td>
                    </tr>
                    <tr>
                        <td class="formTitle">信用卡违约</td>
                        <td class="formValue">
                            <input id="xinYongWY" type="text" class="form-control" readonly />
                        </td>
                        <td class="formTitle">司法记录</td>
                        <td class="formValue">
                            <input id="siFaJL" type="text" class="form-control" readonly />
                        </td>
                        <td>
                            <a id="btn_Print" class="btn btn-primary"    href="javascript:;" onclick="printdiv()" >&nbsp;打&nbsp;印&nbsp;</a>
                        </td>

                    </tr>
                </table>

            </form>
        </div>

    </div>
</div>
