<?xml version="1.0" encoding="utf-8"?>
<connectionStrings> 
  <add name="BaseDb" connectionString="Server=.;Initial Catalog=CreditM;User ID=sa;Password=sa2017" providerName="System.Data.SqlClient" />
  <add name="ERP" connectionString="Server=111;Initial Catalog=222;User ID=sa;Password=333" providerName="System.Data.SqlClient" />
</connectionStrings>








