<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>我的桌面</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link href="~/Content/scripts/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/styles/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/adminLTE/css/index.css" rel="stylesheet" />
    <script src="~/Content/scripts/jquery/jquery-1.10.2.min.js"></script>
    <script src="~/Content/scripts/utils/CM-ui.js"></script>

    <style type="text/css">
        .panel-default {
            border: none;
            border-radius: 0px;
            margin-bottom: 0px;
            box-shadow: none;
            -webkit-box-shadow: none;
        }

            .panel-default > .panel-heading {
                color: #777;
                background-color: #fff;
                border-color: #e6e6e6;
                padding: 10px 10px;
            }

            .panel-default > .panel-body {
                padding: 10px;
                padding-bottom: 0px;
            }

                .panel-default > .panel-body ul {
                    overflow: hidden;
                    padding: 0;
                    margin: 0px;
                    margin-top: -5px;
                }

                    .panel-default > .panel-body ul li {
                        line-height: 20px;
                        list-style-type: none;
                        text-overflow: ellipsis;
                        font-size: 14px;
                    }

                        .panel-default > .panel-body ul li .time {
                            color: #a1a1a1;
                            float: right;
                            padding-right: 5px;
                        }
    </style>
    <script>
        $(function () {
            InitialPage();
            putData();
        });

        //初始化页面
        function InitialPage() {
            if ($('#areascontent').height() > $(window).height() - 20) {
                $('#areascontent').css("margin-right", "0px");
            }
            $('#areascontent').height($(window).height() - 22);
            $(window).resize(function (e) {
                window.setTimeout(function () {
                    $('#areascontent').height($(window).height() - 22);
                }, 200);
            });

        }

        function putData() {
            //刷新通知公告
            setInterval(refreshTongzhi, 60000 * 5);

            ////加载通知公告
            $.ajax({
                type: 'post',
                url: '../../PublicInfoManage/Notice/getMyNotice',
                dataType: 'json',
                success: function (data) {
                    putNotice(data);
                }
            });

            //消息提醒
            //$.ajax({
            //    type: 'post',
            //    url: '../../PublicInfoManage/Message/getMyMessage?usage=top',
            //    dataType: 'json',
            //    success: function (data) {
            //        putMessage(data);
            //    }
            //});
         

        }

        var refreshTongzhi = function () {
            var ajax = $.ajax({
                type: 'post',
                url: '../../PublicInfoManage/Notice/getMyNotice',
                timeout: 30000,//超时,跳到error
                dataType: 'json',
                success: function (data) {
                    putNotice(data);
                },
                error: function () {
                    ajax.abort();
                }
            });
        };

        function putNotice(data) {
            if (data != null) {
                var str = '';
                for (var index in data) {
                    str += '<li><a href="javascript:" style="color: ' + data[index].FullHeadColor + ';" onclick="getNoticeDetail(\'' + data[index].NewsId + '\')">【' + data[index].Category + '】'
			    	 + data[index].FullHead + '</a><span class="time">' + data[index].CreateDate + '</span></li>';
                }
                $('#notice').html(str);
            }
        }

        function putMessage(data) {
            console.log(data)
            if (data != null) {
                var str = '';
                var url = "/PublicInfoManage/Message/MyMessageIndex";
                for (var index in data) {
                    str += '<li><a href="javascript:" onclick="getMessageDetail(\'' + data[index].messageTitle + '\',\'' + url + '\')">【' + data[index].messageTitle + '】'
                        + StringSub(data[index].messageContent) + '</a><span class="time">'
                        + data[index].CreateDate + '</span></li>';
                }
                $('#mission').html(str);
            }
        }
        function StringSub(data) {
            if (data.length > 30) {
                return data.substring(0, 30) + "...";
            }
            else {
                return data;
            }
        }



        function getNoticeDetail(id) {
            dialogOpen({
                id: "Detail",
                title: '通知公告详情',
                url: '/PublicInfoManage/Notice/Detail?keyValue=' + id,
                width: "1000px",
                height: "700px",
                btn: null
            });
        }

        function getMessageDetail(title, url) {
            top.tablist.newTab({
                id: "MissionDetail",
                title: "消息查看",
                closed: true,
                replace: true,
                icon: "fa fa-file-text-o",
                url: url
            });
        }


        function getMyNoticeList() {
            top.tablist.newTab({
                id: "NoticeManage",
                title: "通知公告",
                closed: true,
                replace: true,
                url: "/PublicInfoManage/Notice/IndexLook"
            });
        }

        function getMyMissionList() {
            top.tablist.newTab({
                id: "MyMissionManange",
                title: "我的提醒",
                closed: true,
                replace: true,
                url: "/PublicInfoManage/Message/MyMessageIndex"
            });
        }

    </script>
</head>
<body style="overflow: hidden; margin: 0px;">
    <div id="areascontent">
        <div class="rows" style="margin-bottom: 0.8%;overflow: hidden;">
            <div style="float: left; width: 49%; margin-right: 0.8%;">
                <div style="height: 300px; border: 1px solid #e6e6e6; background-color: #fff;">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div style="float:right;">
                                <a href="javascript:" onclick="getMyNoticeList()">更多</a>
                            </div>
                            <i class="fa fa-volume-up fa-lg" style="padding-right: 5px;"></i>通知公告
                        </div>
                        <div class="panel-body">
                            <ul id="notice"></ul>
                        </div>
                    </div>
                </div>
            </div>
            <div style="float: right; width: 50%;">
                <div style="height: 300px; border: 1px solid #e6e6e6; background-color: #fff;">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div style="float:right;">
                                <a href="javascript:" onclick="getMyMissionList()">更多</a>
                            </div>
                            <i class="fa fa-flag-o fa-lg" style="padding-right: 5px;"></i>其它功能
                        </div>
                        <div class="panel-body">
                            <ul id="mission"></ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="rows" style="margin-bottom: 0.8%;overflow: hidden;">
            <div style="float: left; width: 49%; margin-right: 0.8%;">
                <div style="height: 300px; border: 1px solid #e6e6e6; background-color: #fff;">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div style="float:right;">
                                <a href="javascript:" onclick="getMyNoticeList()">更多</a>
                            </div>
                            <i class="fa fa-volume-up fa-lg" style="padding-right: 5px;"></i>通知公告
                        </div>
                        <div class="panel-body">
                            <ul id="notice"></ul>
                        </div>
                    </div>
                </div>
            </div>
            <div style="float: right; width: 50%;">
                <div style="height: 300px; border: 1px solid #e6e6e6; background-color: #fff;">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div style="float:right;">
                                <a href="javascript:" onclick="getMyMissionList()">更多</a>
                            </div>
                            <i class="fa fa-flag-o fa-lg" style="padding-right: 5px;"></i>其它功能
                        </div>
                        <div class="panel-body">
                            <ul id="mission"></ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="rows" style="overflow: hidden;">
            <div style="float: left; width: 49%; margin-right: 0.8%;">
                <div style="height: 300px; border: 1px solid #e6e6e6; background-color: #fff;">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div style="float:right;">
                                <a href="javascript:" onclick="getMyTixingList1()">更多</a>
                            </div>
                            <i class="fa fa-bell fa-lg" style="padding-right: 5px;"></i>常用菜单1
                        </div>
                        <div class="panel-body">
                            <ul id="tixing"></ul>
                        </div>
                    </div>
                </div>
            </div>

            <div style="float: right; width: 50%;">
                <div style="height: 300px; border: 1px solid #e6e6e6; background-color: #fff;">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div style="float:right;">
                                <a href="javascript:">-</a>
                            </div>
                            <i class="fa fa-newspaper-o fa-lg" style="padding-right: 5px;"></i>常用菜单
                        </div>
                        <div class="panel-body">
                            <ul id="mission"></ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>
