@{;
    Layout = "~/Views/Shared/_Index.cshtml"; 
}
<!--通用上传，返回文件路径-->
<script>
    //上传;
    function uploadFile(callback,filepath) {
        console.log(filepath);
        $("#filepath").val(filepath);
        if (!filepath) {
            dialogMsg("缺少文件路径", -1); return;
        }
        if (!$('#form1').Validform()) {
            return false;
        }
        var formData = new FormData($("#form1")[0]);
        $.ajax({
            url: "/Common/uploadFile",
            type: 'POST',
            dataType: "json",
            data: formData,
            cache: false,
            processData: false,
            contentType: false,
            success: function (data) {
                if (data.type == "3") {
                    dialogAlert(data.message, -1);
                } else {
                    callback(data);//返回文件路径
                    dialogClose();
                }

            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                dialogMsg(errorThrown, -1);
            }
        });
    }
</script>
<div style="margin: 10px;">
    <form id="form1" enctype="multipart/form-data" method="post">
        <table class="form">
            <tr>
                <td class="formTitle">选择文件<font face="宋体">*</font></td>
                <td class="formValue">
                    <input name="filepath" id="filepath" type="hidden" value="" />
                    <input name="uploadfile" type="file" isvalid="yes" checkexpession="NotNull" />
                </td>
            </tr>
        </table>
    </form>
</div>
