@{;
    ViewBag.Title = "贷款申请:表单页面";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<script>
    //上传
    function upload(folder, billType, category) {

        folder = $('#carCode').val();
        if (folder == "") {
            parent.$.messager.alert('错误', "身份证为空,请重试", 'error');
            return;
        }
        folder = escape("贷款申请附件//" + folder);
        var target = parent.$('<div></div>').appendTo('body');
        var url = '/PublicInfoManage/Attachment/Upload?folder=' + folder + '&billType=' + billType + '&category=' + category;
        var opt = {
            title: '上传',
            width: '800px',
            height: '500px',
            modal: true,
            collapsible: false,
            minimizable: false,
            maximizable: true,
            queueSizeLimit: 1, //同时上传文件的个数
            fileTypeDesc: 'excel文件', //可选择文件类型说明
            fileTypeExts: '.xls', //控制可上传文件的扩展名
            filetype: "image/*",
            multi: false, //允许多文件上传
            closable: true,
            onOpen: function () {
                parent.$.messager.progress({
                    title: '提示',
                    text: '数据处理中，请稍后....'
                });
            }
        };
        opt.content = "<iframe src='" + url + "' style='height:100%;width:100%;border:0;display:block;' frameborder='0'></iframe>";

        opt.onRefresh = function (data) {  //可接收选择数据
            var obj = $.parseJSON(data);

            var downloadUrl = '/PublicInfoManage/Attachment/DownloadFile?id=' + obj.id;
            var disphtml = "<span style='min-width:400px; display:inline-block;color:blue;'>" + obj.name + "</span>";
            disphtml += "<span style='margin-left: 30px;'><a href='" + downloadUrl + "'>下载</a>";
            disphtml += "<a style='margin-left:10px;' href='javascript:' onclick='removeFile(\"" + obj.id + "\")'>删除</a>";
            disphtml += "</span>";
            var objIdDiv = $("#" + obj.id);
            if (objIdDiv.length > 0) { // 已经存在，替换之
                objIdDiv.html(disphtml);
            } else {
                $("#" + obj.category).append("<div id='" + obj.id + "'>" + disphtml + "</div>");
            }
        };

        target.window(opt);
    }
    //移除
    function removeFile(id) {
        parent.$.messager.confirm('询问', '您是否要删除当前附件？', function (b) {
            if (b) {
                $.post('/PublicInfoManage/Attachment/removeFile', {
                    id: id
                }, function (result) {
                    if (result.type == "1") {
                        $("#" + id).remove();
                    } else {
                        parent.$.messager.alert('错误', result.message, 'error');
                    }

                }, 'JSON');
            }
        });
    }

</script>
<script>
    var keyValue = request('keyValue');
    $(function () {
        initControl();
    });
    //初始化控件
    function initControl() {

        //获取表单
        if (!!keyValue) {
            $.SetForm({
                url: "../../CreditManage/CreditMoney/GetFormJsonFile",
                param: { keyValue: keyValue },
                success: function (data) {
                    $("#form1").SetWebControls(data.entitys);

                    //附件
                    var attach = data.attachs;
                    $.each(attach, function (i, sm) {
                        var downloadUrl = '/PublicInfoManage/Attachment/DownloadFile?id=' + sm.id;
                        var disphtml = "<span style='min-width:400px; display:inline-block;color:blue;'>" + sm.name + "</span>";
                        disphtml += "<span style='margin-left: 30px;'><a href='" + downloadUrl + "'>下载</a>";
                        disphtml += "<a style='margin-left:10px;' href='javascript:' onclick='removeFile(\"" + sm.id + "\")'>删除</a>";
                        disphtml += "</span>";
                        var objIdDiv = $("#" + sm.id);
                        if (objIdDiv.length > 0) { // 已经存在，替换之
                            objIdDiv.html(disphtml);
                        } else {
                            $("#" + sm.category).append("<div id='" + sm.id + "'>" + disphtml + "</div>");
                        }
                    });
                }
            })
        }
    }
    function SelectPerson() {
        dialogOpen({
            id: "PersonIndexSelect",
            title: '选择参照',
            url: '/BaseManage/Person/PersonIndexSelect',
            width: "900px",
            height: "600px",
            callBack: function (iframeId) {
                top.frames[iframeId].getSelecteds(function (data) {

                    var rows = JSON.parse(data);   //console.info(data);
                    //userID carCode userName
                    $("#userID").val(rows[0].UserId);
                    $("#userName").val(rows[0].RealName);
                    $("#carCode").val(rows[0].carCode);
                });
            },
            btn: ['确认选中', '关闭']
        });
    }
    //保存表单;
    function AcceptClick() {
        if (!$('#form1').Validform()) {
            return false;
        }
        var postData = $("#form1").GetWebControls(keyValue);
        postData.filesPath = "贷款申请附件//" + $("#carCode").val();

        $.SaveForm({
            url: "../../CreditManage/CreditMoney/SaveForm?keyValue=" + keyValue,
            param: postData,
            loading: "正在保存数据...",
            success: function () {
                $.currentIframe().$('#gridTable').datagrid('reload');
            }
        })
    }
</script>
<div style="margin-top: 20px; margin-right: 30px;">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#BaseInfo" data-toggle="tab">基本信息</a></li>
        <li><a href="#StatusInfo" data-toggle="tab">状态信息</a></li>
    </ul>
    <div class="tab-content" style="padding-top: 15px;">
        <div id="BaseInfo" class="tab-pane active">
            <table class="form">
                <tr>
                    <td class="formTitle">姓名*</td>
                    <td class="formValue">
                        <input id="userName" type="text" class="form-control" />
                        <input id="id" type="hidden" class="form-control" />
                        <input id="userID" type="hidden" class="form-control" />
                        <a href="javascript:;" onclick="SelectPerson()" class="searchbox-buttonV" icon-index="0" tabindex="-1"></a>
                    </td>
                    <td class="formTitle">身份证*</td>
                    <td class="formValue">
                        <input id="carCode" type="text" class="form-control" readonly />
                    </td>
                </tr>
                <tr>
                    <td class="formTitle">申请日期*</td>
                    <td class="formValue">
                        <input id="opeTime" type="text" class="form-control input-datepicker" onclick="WdatePicker()" />
                    </td>
                    <td class="formTitle">贷款年限*</td>
                    <td class="formValue">
                        <input id="daiYear" type="text" class="form-control" isvalid="yes" checkexpession="Num" />
                    </td>
                </tr>
                <tr>
                    <td class="formTitle">抵押物金额*</td>
                    <td class="formValue">
                        <input id="diYaMoney" type="text" class="form-control" isvalid="yes" checkexpession="Num" />
                    </td>
                    <td class="formTitle">贷款金额*</td>
                    <td class="formValue">
                        <input id="daiMoney" type="text" class="form-control" isvalid="yes" checkexpession="Num" />
                    </td>
                </tr>
                <tr>
                    <td class="formTitle">年收入金额*</td>
                    <td class="formValue">
                        <input id="yearMoney" type="text" class="form-control" isvalid="yes" checkexpession="Num" />
                        @*<input id="filePath" type="text" class="form-control" />*@
                    </td>
                    <td class="formTitle">备注</td>
                    <td class="formValue">
                        <input id="strMemo" type="text" class="form-control" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <div style="padding-top: 5px; padding-left:10px; width:200px">
                            文件操作完成，点确认可生效
                        </div>

                    </td>
                </tr>
                <tr>
                    <th class="formTitle">

                        <div style="padding-top: 5px;">
                            <a class="btn btn-default" data-options="iconCls:'icon-help'"
                               id="btnConfirm" href="javascript:void(0)"
                               onclick="upload('Credit', 'CreditManager', 'moban')">上传<font face="宋体">*</font></a>
                        </div>
                    </th>
                    <td class="formValue" style="height: 85px; width:500px" colspan="3">
                        @*<input id="filesPath" type="hidden">*@
                        <div id="moban" style="padding-left: 50px;"></div>
                    </td>
                </tr>
            </table>
        </div>
        <div id="StatusInfo" class="tab-pane ">
            <table class="form">
                <tr>
                    <th class="formTitle">创建时间</th>
                    <td class="formValue">
                        <input id="CreateDate" type="text" class="form-control" readonly>
                    </td>
                    <th class="formTitle">创建人</th>
                    <td class="formValue">
                        <input id="CreateUserId" type="hidden">
                        <input id="CreateUserName" type="text" class="form-control" readonly>
                    </td>
                </tr>
                <tr>
                    <th class="formTitle">修改时间</th>
                    <td class="formValue">
                        <input id="ModifyDate" type="text" class="form-control" readonly>
                    </td>
                    <th class="formTitle">修改人</th>
                    <td class="formValue">
                        <input id="ModifyUserId" type="hidden">
                        <input id="ModifyUserName" type="text" class="form-control" readonly>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
