@{;
    ViewBag.Title = "个人风险报告";
    Layout = "~/Views/Shared/_FormEasyui.cshtml";
}
<script>
    var userID = request('userID');
    var id = request('id');
    var isLook = request('isLook');
    $(function () {
        LoadDataItemValue("isOK", "MES_CommState");
        $("#userID").val(userID);
        initControl();
    });
    //初始化控件
    function initControl() {

        //获取表单
        if (!!userID) {
            $.SetForm({
                url: "../../CreditManage/CreditWrite/GetDataGridJsonAll",
                param: { userID: userID },
                success: function (data) {
                    console.log(data);
                    var rows = data.rows;
                    var allFen = data.allFen;
                  
                    $("#AllCount").html("信用报告评分:" + String(allFen));

                    for (var i = 0; i < rows.length; i++) {
                        $("#year" + i).html(rows[i].iYear + "年");
                        $("#money" + i).val(rows[i].fenShu);

                        if ($("#af" + i).css("display") == 'none') {//如果show是隐藏的

                            $("#af" + i).css("display", "block");//show的display属性设置为block（显示）

                        }
                    }
                    $("#userName").val(rows[0].userName);
                    $("#carCode").val(rows[0].carCode);


                    $.SetForm({
                        url: "../../CreditManage/CreditWrite/GetFormJsonV",
                        param: { userID: userID, iYear: rows[0].iYear },
                        success: function (data) {
                            $("#form2").SetWebControls(data);
                        }
                    })
                }
            })
        }


        if (!!id) {
            $.SetForm({
                url: "../../CreditManage/CreditMoney/GetFormJsonFile",
                param: { keyValue: id },
                success: function (data) {
                    $("#form10").SetWebControls(data.entitys);
                    $("#fengXian").val(data.entitys.fengXian);
                    $("#fengXianStr").val(data.entitys.fengXianStr);

                    //附件
                    var attach = data.attachs;
                    $.each(attach, function (i, sm) {
                        var downloadUrl = '/PublicInfoManage/Attachment/DownloadFile?id=' + sm.id;
                        var disphtml = "<span style='min-width:100px; display:inline-block;color:blue;'>" + sm.name + "</span>";
                        disphtml += "<span style='margin-left: 30px;float:right'><a href='" + downloadUrl + "'>下载</a>";

                        disphtml += "</span>";
                        var objIdDiv = $("#" + sm.id);
                        if (objIdDiv.length > 0) { // 已经存在，替换之
                            objIdDiv.html(disphtml);
                        } else {
                            $("#" + sm.category).append("<div id='" + sm.id + "'>" + disphtml + "</div>");
                        }
                    });
                }
            })
        }
    }
    function SelectPerson(sign) {

        var userID = $("#userID").val();
        var iYear = 0;

        if (sign == 0) {
            var tmp = $("#year0").html();
            if (!tmp) {
                dialogMsg("年度信息不存在，无法查看", 0);
                return;
            }
            iYear = tmp;
        }
        if (sign == 1) {
            var tmp = $("#year1").html();
            if (!tmp) {
                dialogMsg("年度信息不存在，无法查看", 0);
                return;
            }
            iYear = tmp;
        }
        if (sign == 2) {
            var tmp = $("#year2").html();
            if (!tmp) {
                dialogMsg("年度信息不存在，无法查看", 0);
                return;
            }
            iYear = tmp;
        }
        if (sign == 3) {
            var tmp = $("#year3").html();
            if (!tmp) {
                dialogMsg("年度信息不存在，无法查看", 0);
                return;
            }
            iYear = tmp;
        }
        if (sign == 4) {
            var tmp = $("#year4").html();
            if (!tmp) {
                dialogMsg("年度信息不存在，无法查看", 0);
                return;
            }
            iYear = tmp;
        }


        $.SetForm({
            url: "../../CreditManage/CreditWrite/GetFormJsonV",
            param: { userID: userID, iYear: iYear.replace("年", '') },
            success: function (data) {
                $("#form2").SetWebControls(data);
            }
        })
    }


    function AcceptClick() {
        var isOK = -1;
        var isOKStr = $("#isOKStr").val();
        var isOK = $("#isOK").attr('data-value');
         
        if (isOK == -1) {
            dialogMsg("请选择 是否通过", 0);
            return false;
        }
        if (!isOKStr) {
            dialogMsg("请填写评价信息", 0);
            return false;
        }

        $.SaveForm({
            url: "../../CreditManage/CreditMoney/CreditPingSave?id=" + id,
            param: {isOK:isOK,isOKStr:isOKStr},
            loading: "正在保存数据...",
            success: function () {
                $.currentIframe().$('#gridTable').datagrid('reload');
            }
        })
    }

</script>


<div class="easyui-layout" data-options="fit: true">


    <div data-options="region: 'north', border: false" style="height: 446px; overflow: hidden;">


        <div class="easyui-layout" data-options="fit: true">

            <div data-options="region: 'west', split: true" style="width: 260px; ">

                <form id="form10">

                    <div class="column"><span class="current" style="left: 10px;">个人贷款申请</span></div>
                    <table class="form">

                        <tr>
                            <td class="formTitle">申请日期*</td>
                            <td class="formValue">
                                <input id="opeTime" type="text" class="form-control" />
                            </td>
                        </tr>
                        <tr>
                            <td class="formTitle">贷款年限*</td>
                            <td class="formValue">
                                <input id="daiYear" type="text" class="form-control" isvalid="yes" checkexpession="Num" />
                            </td>
                        </tr>
                        <tr>
                            <td class="formTitle">抵押物金额*</td>
                            <td class="formValue">
                                <input id="diYaMoney" type="text" class="form-control" isvalid="yes" checkexpession="Num" />
                            </td>
                        </tr>
                        <tr>
                            <td class="formTitle">贷款金额*</td>
                            <td class="formValue">
                                <input id="daiMoney" type="text" class="form-control" isvalid="yes" checkexpession="Num" />
                            </td>
                        </tr>
                        <tr>
                            <td class="formTitle">年收入金额*</td>
                            <td class="formValue">
                                <input id="yearMoney" type="text" class="form-control" isvalid="yes" checkexpession="Num" />
                                @*<input id="filePath" type="text" class="form-control" />*@
                            </td>
                        </tr>
                        <tr>
                            <td class="formTitle">备注</td>
                            <td class="formValue">
                                <input id="strMemo" type="text" class="form-control" />
                            </td>
                        </tr>

                        <tr>
                            <td class="formValue" style="height: 85px; width:500px" colspan="2">
                                @*<input id="filesPath" type="hidden">*@
                                <div id="moban" style="padding-left: 5px;"></div>
                            </td>
                        </tr>
                    </table>
                </form>

            </div>

            <div data-options="region: 'center', border: false" style="background:#fafafa;">

                @*-------------------------主体layout开始-------------------------*@
                <div class="tab-content" style="padding-top: 15px;">
                    <div id="BaseInfo" class="tab-pane active">


                        <table class="form">
                            <tr>
                                <td align="center" id="AllCount" style="font-size:25px" colspan="4"></td>
                            </tr>
                        
                            <tr>

                                <td align="center" style="font-size:20px" id="year0"></td>


                                <td align="center" style="font-size:20px" id="year1"></td>

                                <td align="center" style="font-size:20px" id="year2"></td>

                                <td align="center" style="font-size:20px" id="year3"></td>

                                <td align="center" style="font-size:20px" id="year4"></td>

                            </tr>

                            <tr>
                                <td class="formValue">
                                    <input id="money0" type="text" class="form-control" readonly />
                                    <a id="af0" href="javascript:;" onclick="SelectPerson(0)" class="searchbox-buttonV" style="display: none;" icon-index="0" tabindex="-1"></a>
                                </td>
                                <td class="formValue">
                                    <input id="money1" type="text" class="form-control" readonly />
                                    <a id="af1" href="javascript:;" onclick="SelectPerson(1)" class="searchbox-buttonV" style="display: none;" icon-index="0" tabindex="-1"></a>
                                </td>
                                <td class="formValue" style="position:relative;">
                                    <input id="money2" type="text" class="form-control" readonly />
                                    <a id="af2" href="javascript:;" onclick="SelectPerson(2)" class="searchbox-buttonV" style="display: none;" icon-index="0" tabindex="-1"></a>

                                </td>

                                <td class="formValue">
                                    <input id="money3" type="text" class="form-control" readonly />
                                    <a id="af3" href="javascript:;" onclick="SelectPerson(3)" class="searchbox-buttonV" style="display: none;" icon-index="0" tabindex="-1"></a>
                                </td>

                                <td class="formValue">
                                    <input id="money4" type="text" class="form-control" readonly />
                                    <a id="af4" href="javascript:;" onclick="SelectPerson(4)" class="searchbox-buttonV" style="display: none;" icon-index="0" tabindex="-1"></a>
                                </td>

                            </tr>

                        </table>

                        <form id="form2">

                            <div class="column"><span class="current" style="left: 10px;">信用用户</span></div>
                            <table class="form">
                                <tr>
                                    <td class="formTitle">姓名</td>
                                    <td class="formValue" style="position:relative;">
                                        <input id="userName" type="text" class="form-control" />
                                    </td>
                                    <td class="formTitle">身份证</td>
                                    <td class="formValue">
                                        <input id="carCode" type="text" class="form-control" readonly />
                                    </td>
                                </tr>

                            </table>

                            <div class="column"><span class="current" style="left: 10px;">个人还贷能力</span></div>

                            <table class="form">

                                <tr>
                                    <td class="formTitle">收入水平</td>
                                    <td class="formValue">
                                        <input type="hidden" id="userID" />
                                        <input id="shouRu" type="text" class="form-control" />
                                    </td>

                                    <td class="formTitle">教育程度</td>
                                    <td class="formValue">
                                        <input id="jiaoYu" type="text" class="form-control" readonly />
                                    </td>
                                    <td class="formTitle">家庭状况</td>
                                    <td class="formValue">
                                        <input id="jiaTing" type="text" class="form-control" readonly />
                                    </td>
                                </tr>
                                <tr>
                                    <td class="formTitle">职业</td>
                                    <td class="formValue">
                                        <input id="zhiYe" type="text" class="form-control" readonly />
                                    </td>
                                    <td class="formTitle">消费水平</td>
                                    <td class="formValue">
                                        <input id="xiaoFei" type="text" class="form-control" readonly />
                                    </td>

                                    <td class="formTitle">健康状况</td>
                                    <td class="formValue">
                                        <input id="jiangKang" type="text" class="form-control" readonly />
                                    </td>
                                </tr>
                                <tr>
                                    <td class="formTitle">家庭财产</td>
                                    <td class="formValue">
                                        <input id="caiChan" type="text" class="form-control" readonly />
                                    </td>


                                    <td class="formTitle">个人信贷记录</td>
                                    <td class="formValue">
                                        <input id="xinDai" type="text" class="form-control" readonly />
                                    </td>
                                </tr>


                            </table>

                            <div class="column"><span class="current" style="left: 10px;">个人还贷意愿</span></div>

                            <table class="form">
                                <tr>
                                    <td class="formTitle">银行金融违约</td>
                                    <td class="formValue">
                                        <input id="yinHangWY" type="text" class="form-control" readonly />
                                    </td>

                                    <td class="formTitle">公共违约记录</td>
                                    <td class="formValue">
                                        <input id="gongGongWY" type="text" class="form-control" readonly />
                                    </td>
                                    <td class="formTitle">信用担保记录</td>
                                    <td class="formValue">
                                        <input id="danBaoJL" type="text" class="form-control" readonly />
                                    </td>
                                </tr>
                                <tr>
                                    <td class="formTitle">信用卡违约</td>
                                    <td class="formValue">
                                        <input id="xinYongWY" type="text" class="form-control" readonly />
                                    </td>
                                    <td class="formTitle">司法记录</td>
                                    <td class="formValue">
                                        <input id="siFaJL" type="text" class="form-control" readonly />
                                    </td>
                                </tr>


                            </table>

                        </form>
                    </div>

                </div>
                @*-------------------------主体layout结束-------------------------*@
            </div>


        </div>
    </div>

    <div data-options="region:'center',border: false">

        <table class="form">
            <tr>
                <td class="formTitle">风险值</td>
                <td class="formValue">
                    <input id="fengXian" type="text" class="form-control" readonly />
                </td>
                <td class="formTitle">风险提示</td>
                <td class="formValue" colspan="2">
                    <input id="fengXianStr" type="text" class="form-control" readonly />
                </td>
                <td></td>
            </tr>
            <tr>
                <td class="formTitle">是否通过</td>
                <td class="formValue">
                    @*<input id="isOK" type="text" class="form-control" readonly />*@
                    <div id="isOK" type="select" class="ui-select" isvalid="yes" checkexpession="NotNull"></div>
                </td>
                <td class="formTitle">评价信息</td>
                <td class="formValue" colspan="2">
                    <input id="isOKStr" type="text" class="form-control" />
                </td> 
            </tr>
        </table>

    </div>


</div>
