@{
    ViewBag.Title = "导出Excel数据";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<script>
    var gridId = request('gridId');
    var filename = request('filename');
    var columnJson=[];
    $(function () {
        var $gridTable = $.currentIframe().$("#" + gridId);
        var columnFields = $gridTable.datagrid('getColumnFields');
        $.each(columnFields, function (i) {
            var field = columnFields[i];
            var columnOption = $gridTable.datagrid('getColumnOption', field);
            columnJson.push(columnOption);
            var title = columnOption.title;
            var hidden = columnOption.hidden;
            if (!!title && (hidden == false || hidden == undefined)) {
                $(".sys_spec_text").append("<li data-value='" + field + "' title='" + title + "'><a>" + title + "</a><i></i></li>");
            }
        });
        $(".sys_spec_text li").addClass("active");
        $(".sys_spec_text li").click(function () {
            if (!!$(this).hasClass("active")) {
                $(this).removeClass("active");
            } else {
                $(this).addClass("active").siblings("li");
            }
        });
    });
    //确定导出
    function AcceptClick() {
        var exportField = [];//导出列字段
        $('.sys_spec_text ').find('li.active').each(function () {
            var value = $(this).attr('data-value');
            var title = $(this).attr('title');
            exportField.push(value);
        });
        var rowJson = $.currentIframe().$("#" + gridId).datagrid('getRows');
        $('#executeexcel').remove();
        var $form = $("<form id='executeexcel' method='post' action='" + top.contentPath + "/Utility/ExecuteExportExcel_EasyUI' style='display:none;'>");
        var $input = $("<input type='hidden' name='columnJson' value='" + JSON.stringify(columnJson) + "'><input type='hidden' name='rowJson' value='" + JSON.stringify(rowJson) + "'><input type='hidden' name='exportField' value='" + String(exportField) + "'><input type='hidden' name='filename' value='" + escape(filename) + "'>");
        $("body").append($form);
        $form.append($input).submit();
    }
</script>
<div style="margin: 5px;">
    <div class="alert alert-danger" style="margin-bottom: 5px;">
        <i class="fa fa-question-circle" style="position: relative; top: 1px; font-size: 15px; padding-right: 5px;"></i>
        注：请勾选需要导出的字段
    </div>
</div>
<div style="margin: 5px;">
    <ul class="sys_spec_text"></ul>
</div>
