@{
    ViewBag.Title = "附件管理";
    Layout = "~/Views/Shared/_IndexEasyui.cshtml";
}
<script>

    function renameAttach(id) {
        alert(id);
    }

    function removeAttach(id) {
        $("#" + id).remove();
    }

    function btn_upload() {
        //dialogOpen({
        //    id: "upload",
        //    title: '上传',
        //    url: '/PublicInfoManage/Attachment/Upload',
        //    width: "1000px",
        //    height: "600px",
        //    callBack: function (iframeId) {
        //        top.frames[iframeId].getSelecteds(function (data) {
        //            var obj = JSON.parse(data);

        //            var fileIds = $('#fileId').val();
        //            $.each(obj, function (i, sm) {
        //                fileIds += sm.name;

        //                var downloadUrl =  sm.id;
        //                var disphtml = "<span style='min-width:250px; display:inline-block;'>" + sm.name + "</span>";
        //                disphtml += "<span style='margin-left: 30px;'><a href='" + downloadUrl + "'>下载</a>";
        //                disphtml += "<a style='margin-left:10px;' href='javascript:' onclick='renameAttach(\"" + sm.id + "\")'>修改</a>";
        //                disphtml += "<a style='margin-left:10px;' href='javascript:' onclick='removeAttach(\"" + sm.id + "\")'>删除</a>";
        //                disphtml += "</span>";
        //                var objIdDiv = $("#" + sm.id);
        //                if (objIdDiv.length > 0) { // 已经存在，替换之
        //                    objIdDiv.html(disphtml);
        //                } else {
        //                    $("#attachDiv").append("<div id='" + sm.id + "'>" + disphtml + "</div>");
        //                }

        //            });
        //            $('#fileId').val(fileIds);
        //        });
        //    },
        //    btn: ['确认', '关闭']
        //});
        var target = parent.$('<div></div>').appendTo('body');
        var url = '/PublicInfoManage/Attachment/Upload';
        var opt = {
            title: '上传',
            width: '800px',
            height: '500px',
            modal: true,
            collapsible: false,
            minimizable: false,
            maximizable: true,
            closable: true
        };
        opt.content = "<iframe src='" + url + "' style='height:100%;width:100%;border:0;display:block;' frameborder='0'></iframe>";

        opt.onRefresh = function (data) {  //可接收选择数据
            var obj = $.parseJSON(data);

            var fileIds = $('#fileId').val();
            fileIds += obj.name;

            var downloadUrl = obj.id;
            var disphtml = "<span style='min-width:250px; display:inline-block;'>" + obj.name + "</span>";
            disphtml += "<span style='margin-left: 30px;'><a href='" + downloadUrl + "'>下载</a>";
            disphtml += "<a style='margin-left:10px;' href='javascript:' onclick='renameAttach(\"" + obj.id + "\")'>修改</a>";
            disphtml += "<a style='margin-left:10px;' href='javascript:' onclick='removeAttach(\"" + obj.id + "\")'>删除</a>";
            disphtml += "</span>";
            var objIdDiv = $("#" + obj.id);
            if (objIdDiv.length > 0) { // 已经存在，替换之
                objIdDiv.html(disphtml);
            } else {
                $("#attachDiv").append("<div id='" + obj.id + "'>" + disphtml + "</div>");
            }

            $('#fileId').val(fileIds);
        };

        target.window(opt);
    };



</script>
<div class="easyui-layout" data-options="fit:true">
    <div data-options="region:'center',border:false" style="background:#fafafa;">
        <button class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="left" onclick="btn_upload()" title="添加"><i class="fa fa-plus"></i>上传</button>
        <input id="fileId" />
        <div id="attachDiv"></div>
    </div>
</div>

