/*文本查询框*/
.searchbox {
    background-color: #fff; 
    display: block;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: relative;
    vertical-align: middle;
    white-space: nowrap;
}
 

.searchbox-addon {
    position: absolute;
    top: 0;
    right: 0px; 
    top: 0px;
}

.searchbox-button {
    background: rgba(0, 0, 0, 0) url("../images/icon-select.gif") no-repeat scroll center center;
}

.searchbox-button {
    cursor: pointer;
    display: inline-block;
    height: 20px;
    opacity: 0.6;
    overflow: hidden;
    vertical-align: top;
    width: 18px;
}
 