/*easui 编辑框  空白 解决样式冲突*/
.datagrid /*button,*/ input, optgroup, select, textarea {
    color: initial;
}
/*文件框右侧出现放大镜*/
.searchbox-buttonV {
    background-image: url("/Content/images/searchbox_button.png");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-clip: border-box;
    background-origin: padding-box;
    background-position-x: center;
    background-position-y: center;
    background-size: auto auto;
    display: inline-block;
    width: 18px;
    height: 22px;
    position: absolute;
    right: 10px;
    top: 9px;
}
/*输入框内右侧图标定位*/
.inputSearchIcon{position: absolute;right: 15px; top: 50%; margin-top: -10px; cursor: pointer; width: 20px; height: 20px; line-height: 20px; text-align: center;}
