@{
    ViewBag.Title = "编号规则表单";
    Layout = "~/Views/Shared/_FormEasyui.cshtml";
}

<script>
    var keyValue = request('keyValue');
    $(function () {
        initControl();
        GetGrid();
    })
    //初始化控件
    function initControl() {
        //规则方式
        $("#Mode").ComboBox({
            description: "==请选择==",
        });
        //系统功能
        $("#ModuleId").ComboBoxTree({
            url: "../../AuthorizeManage/Module/GetTreeJson",
            description: "==请选择==",
            height: "240px",
            allowSearch: true
        });
    }
    function GetGrid() {
        var $gridTable = $("#gridTable");
        $gridTable.datagrid({
            title:'规则设计',
            fit: true,
            rownumbers: true,
            singleSelect: true,
            nowrap: false,
            columns: [[
                { title: "ItemType", field: "ItemType", hidden: true },
                { title: "前缀", field: "ItemTypeName", width: 120, align: "left", sortable: false },
                { title: "格式", field: "FormatStr", width: 120, align: "left", sortable: false },
                { title: "步长", field: "StepValue", width: 100, align: "left", sortable: false },
                { title: "初始值", field: "InitValue", width: 120, align: "left", sortable: false },
                { title: "说明", field: "Description", width: 200, align: "left", sortable: false }
            ]]
        });
        //获取表单
        if (!!keyValue) {
            $.SetForm({
                url: "../../SystemManage/CodeRule/GetFormJson",
                param: { keyValue: keyValue },
                success: function (data) {
                    $("#form1").SetWebControls(data);
                    $gridTable.datagrid({
                        data: JSON.parse(data.RuleFormatJson)
                    });
                }
            });
        }
    }
    //添加
    function btn_add_field() {
        dialogOpen({
            id: "ItemForm",
            title: '添加',
            url: '/SystemManage/CodeRule/ItemForm',
            width: "450px",
            height: "320px",
            callBack: function (iframeId) {
                top.frames[iframeId].AcceptClick();
            }
        });
    };
    //修改
    function btn_edit_field() {
        //var keyValue = $("#gridTable").getGridParam('selrow');
        var rowIndex = $('#gridTable').datagrid('getRowIndex', $('#gridTable').datagrid('getSelected')).toString();
        var keyValue = rowIndex >= 0 ? rowIndex : null;
        if (checkedRow(keyValue)) {
            dialogOpen({
                id: "ItemForm",
                title: '修改',
                url: '/SystemManage/CodeRule/ItemForm?keyValue=' + keyValue,
                width: "450px",
                height: "320px",
                callBack: function (iframeId) {
                    top.frames[iframeId].AcceptClick();
                }
            });
        }
    }
    //移除
    function btn_delete_field() {
        var selections = $('#gridTable').datagrid('getSelections');
        if (selections.length > 0) {
            dialogConfirm('注：您确定要移除吗？该操作将无法恢复？', function (r) {
                if (r) {
                    var selectRows = [];
                    for (var i = 0; i < selections.length; i++) {
                        selectRows.push(selections[i]);
                    }
                    for (var j = 0; j < selectRows.length; j++) {
                        var index = $('#gridTable').datagrid('getRowIndex', selectRows[j]);
                        $('#gridTable').datagrid('deleteRow', index);
                    }

                    dialogMsg("移除成功。", 1);
                }
            }); 
        } else {
            dialogMsg('请选择需要移除的数据！', 0);
        }
    }

    //保存表单
    function AcceptClick() {
        if (!$('#form1').Validform()) {
            return false;
        }
        var postData = $("#form1").GetWebControls(keyValue);
        postData["Module"] = $("#ModuleId").attr('data-text');
        postData["RuleFormatJson"] = JSON.stringify($("#gridTable").datagrid("getRows"));
        $.SaveForm({
            url: "../../SystemManage/CodeRule/SaveForm?keyValue=" + keyValue,
            param: postData,
            loading: "正在保存数据...",
            success: function () {
                $.currentIframe().$('#gridTable').datagrid('reload');
            }
        })
    }
</script>
<div class="easyui-layout" data-options="fit:true">
    <div data-options="region:'north',border:false" style="height:116px;overflow: hidden;">
        <form id="form1">
            <table class="form">
                <tr>
                    <th class="formTitle" style="text-align: left; padding-left: 7px; width: 55px;">对象编号：</th>
                    <td class="formValue">
                        <input id="EnCode" type="text" onblur="$.ExistField(this.id,'../../SystemManage/CodeRule/ExistEnCode')" class="form-control" placeholder="请输入编号" isvalid="yes" checkexpession="Num" />
                    </td>
                    <th class="formTitle" style="text-align: left; padding-left: 7px; width: 55px;">对象名称：</th>
                    <td class="formValue">
                        <input id="FullName" type="text" onblur="$.ExistField(this.id,'../../SystemManage/CodeRule/ExistFullName')" class="form-control" placeholder="请输入名称" isvalid="yes" checkexpession="NotNull" />
                    </td>
                </tr>
                <tr>
                    <th class="formTitle" style="text-align: left; padding-left: 7px; width: 55px;">规则方式：</th>
                    <td class="formValue">
                        <div id="Mode" type="select" class="ui-select" isvalid="yes" checkexpession="NotNull">
                            <ul>
                                <li data-value="1">自动</li>
                                <li data-value="0">可更改</li>
                            </ul>
                        </div>
                    </td>
                    <th class="formTitle" style="text-align: left; padding-left: 7px; width: 55px;">系统功能：</th>
                    <td class="formValue">
                        <div id="ModuleId" type="selectTree" class="ui-select" isvalid="yes" checkexpession="NotNull"></div>
                    </td>
                </tr>
                <tr>
                    <th class="formTitle" style="text-align: left; padding-left: 7px; width: 55px;">说明</th>
                    <td class="formValue" colspan="3">
                        <input id="Description" type="text" class="form-control" placeholder="添加说明" />
                    </td>
                </tr>
            </table>
        </form>
    </div>
    <div data-options="region:'center',border:false">
        <table id="gridTable"></table>
        <style>
            .datagrid .panel-title {
                text-align: right;
                padding-right: 5px;
            }
        </style>
    </div>
    <div style="position: absolute; top: 119px; left: 10px;">
        <a id="lr-add" class="btn btn-success btn-xs" onclick="btn_add_field()"><i class="fa fa-plus"></i>&nbsp;添加</a>
        <a id="lr-edit" class="btn btn-info btn-xs" onclick="btn_edit_field()"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
        <a id="lr-delete" class="btn btn-danger btn-xs" onclick="btn_delete_field()"><i class="fa fa-trash-o"></i>&nbsp;移除</a>
    </div>
</div>

