@{;
    ViewBag.Title = "待办任务表:列表页面";
    Layout = "~/Views/Shared/_LayoutIndexEasyui.cshtml";
}
<script>;
    $(function () {
         GetGrid();
    });
    //加载表格
    function GetGrid() {
        //加载表格grid
        var $gridTable = $('#gridTable');
        $gridTable.datagrid({
            fit:true, 
            idField: 'id', 
            rownumbers: true, 
            emptyMsg: '<div style="color:red; padding:4px; border-bottom:#ccc 1px solid;">无相关数据!</div>',
            sortName: 'id', 
            sortOrder: 'desc', 
            singleSelect: true, 
            nowrap: false, 
            url: "../../PublicInfoManage/Mission/GetDataGridJsonV1",
            columns: [[
                { title: 'ID', field: 'id', checkbox: true },
                { title: '任务类别', field: 'missionType', width: 100, align: 'left',sortable: true ,hidden: false },
                { title: '任务标题', field: 'missionTitle', width: 150, align: 'left', sortable: false, hidden: false },
                { title: '任务内容', field: 'missionContent', width: 250, align: 'left', sortable: false, hidden: false },
                { title: '接收人ID', field: 'receivers', width: 100, align: 'left', sortable: false, hidden: true },
                { title: '接收人姓名', field: 'receiversName', width: 250, align: 'left', sortable: false, hidden: false },
                { title: '任务访问URL', field: 'url', width: 100, align: 'left', sortable: false, hidden: true },
                { title: '备注', field: 'strMemo', width: 100, align: 'left', sortable: false, hidden: false },
                { title: '创建时间', field: 'CreateDate', width: 130, align: 'left', sortable: false, hidden: false },
                { title: '创建人', field: 'CreateUserName', width: 100, align: 'left', sortable: false, hidden: false }
            ]]
        });
        //$gridTable.authorizeColModel();//列表数据权限 
        //查询条件
        $("#queryCondition .dropdown-menu li").click(function () {
            var text = $(this).find('a').html();
            var value = $(this).find('a').attr('data-value');
            $("#queryCondition .dropdown-text").html(text).attr('data-value', value)
        });
        //查询事件
        $("#btn_Search").click(function () {
            var queryJson = {
                condition: $("#queryCondition").find('.dropdown-text').attr('data-value'),
                keyword: $("#txt_Keyword").val()
            }
            $gridTable.datagrid({
                url: "../../PublicInfoManage/Mission/GetDataGridJsonV1", 
                pagination: true,
                pageSize: 50,
                pageList: [50, 100, 300],
                queryParams: {
                    itemId: _itemId,
                    queryJson: JSON.stringify(queryJson)
                },
            });
        });
        //查询回车
        $('#txt_Keyword').bind('keypress', function (event) {
            if (event.keyCode == "13") {
                $('#btn_Search').trigger("click");
            }
        });
    }
    //新增
    function btn_add() {
        dialogOpen({
            id: 'Form',
            title: '添加待办任务表',
            url: '../../PublicInfoManage/Mission/MissionForm',
            width: '800px',
            height: '550px',
            callBack: function (iframeId) {
                top.frames[iframeId].AcceptClick();
            }
        });
    }
    ////新增
    //function btn_add_TT() {
    //    top.tablist.newTab({
    //        id: "OrderForm",
    //        title: "新增订单",
    //        closed: true,
    //        replace: true,
    //        icon: "fa fa-file-text-o",
    //        url: ""
    //    });
    //}
    //导出
    function btn_export() {
        dialogOpen({
            id: 'ExcelIExportDialog',
            title: '导出待办任务表',
            url: '/Utility/ExcelExportForm?gridId=gridTable&filename=待办任务表',
            width: '500px',
            height: '380px',
            callBack: function (iframeId) {
                top.frames[iframeId].AcceptClick();
            }, btn: ['导出Excel', '关闭']
        });
    }
    //编辑
    function btn_edit() {
        var keyValue = $('#gridTable').easyUiGridRowValue('id');
        if (checkedRow(keyValue)) {
            dialogOpen({
                id: 'Form',
                title: '编辑待办任务表',
                url: '../../PublicInfoManage/Mission/MissionForm?keyValue=' + keyValue,
                width: '800px',
                height: '550px',
                callBack: function (iframeId) {
                    top.frames[iframeId].AcceptClick();
                }
            })
        }
    }
    //删除
    function btn_delete() {
        var keyValue = $('#gridTable').easyUiGridRowValue('id');
        if (keyValue) {
            $.RemoveForm({
                url: '../../PublicInfoManage/Mission/RemoveForm',
                param: { keyValue: keyValue },
                success: function (data) {
                    $('#gridTable').datagrid('reload');
                }
            })
        } else {
            dialogMsg('请选择需要删除的待办任务表！', 0);
        }
    }
</script>
@*------------------------------JavaScript方法结束------------------------------*@
<div class="easyui-layout" data-options="fit:true">
    <div data-options="region: 'north', border: false" style="height: 60px; overflow: hidden;"> 
        <div class="titlePanel">
            <div class="title-search"   style="position:fixed;">
                <table>
                    <tr>
                        <td>
                            <div id="queryCondition" class="btn-group">
                                <a class="btn btn-default dropdown-text" data-toggle="dropdown">选择条件</a>
                                <a class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
                                <ul class="dropdown-menu">
                            <li><a data-value="missionType">任务类别</a></li>
                            <li><a data-value="missionTitle">任务标题</a></li>
                                </ul>
                             </div>
                        </td>
                        <td>
                            <input id="txt_Keyword" type="text" class="form-control" placeholder="请输入要查询关键字" style="width: 200px;" />
                        </td>
                        <td style="padding-left: 5px;">
                            <a id="btn_Search" class="btn btn-primary"><i class="fa fa-search"></i>查询</a>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="toolbar">
                <div class="btn-group">
                    @*<a id="lr-replace" class="btn btn-default" onclick="reload()"><i class="fa fa-refresh"></i>&nbsp;刷新</a>
                    <a id="lr-add" class="btn btn-default" onclick="btn_add()"><i class="fa fa-plus"></i>&nbsp;新增</a>
                    <a id="lr-edit" class="btn btn-default" onclick="btn_edit()"><i class="fa fa-pencil-square-o"></i>&nbsp;编辑</a>
                    <a id="lr-delete" class="btn btn-default" onclick="btn_delete()"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
                    <a id="lr-export" class="btn btn-default" onclick ="btn_export()" ><i class="fa fa-sign-out" ></i>&nbsp;导出</a>*@
                </div>
                @*<script>$('.toolbar').authorizeButton()</script>*@
            </div>
        </div>
    </div>
    <div data-options="region:'center',border: false" > 
        <table id="gridTable"></table> 
    </div> 
</div>
