@{
    ViewBag.Title = "系统功能";
    Layout = "~/Views/Shared/_LayoutIndexEasyui.cshtml";
}
<script>
    $(function () {
        GetTree();
        GetGrid();
    });

    //加载树
    var _parentId = "";
    function GetTree() {
        var item = {
            height: $(window).height() - 52,
            url: "../../AuthorizeManage/Module/GetTreeJson",
            onnodeclick: function (item) {
                _parentId = item.id;
                $('#btn_Search').trigger("click");
            }
        };
        //初始化
        $("#itemTree").treeview(item);
    }
    //加载表格
    function GetGrid() {

        var $gridTable = $('#gridTable');
        $gridTable.datagrid({
            url: "../../AuthorizeManage/Module/GetListJson",
            queryParams: { parentid: 0 },
            fit: true,
            idField: 'ModuleId',
            rownumbers: true,
            singleSelect: true,
            nowrap: false,
            columns: [[
                { title: "主键", field: "ModuleId", hidden: true },
                { title: "编号", field: "EnCode", width: 150, align: "left" },
                { title: "名称", field: "FullName", width: 150, align: "left" },
                { title: "地址", field: "UrlAddress", width: 350, align: "left" },
                { title: "目标", field: "Target", width: 60, align: "center" },
                { title: "序号", field: "SortCode", width: 60, align: "center" },
                {
                    title: "菜单", field: "IsMenu", width: 50, align: "center",
                    formatter: function (value, row, index) {
                        return value == 1 ? "<i value=" + value + " class=\"fa fa-toggle-on\"></i>" : "<i value=" + value + " class=\"fa fa-toggle-off\"></i>";
                    }
                },
                {
                    title: "展开", field: "AllowExpand", width: 50, align: "center",
                    formatter: function (value, row, index) {
                        return value == 1 ? "<i class=\"fa fa-toggle-on\"></i>" : "<i class=\"fa fa-toggle-off\"></i>";
                    }
                },
                {
                    title: "公共", field: "IsPublic", width: 50, align: "center",
                    formatter: function (value, row, index) {
                        return value == 1 ? "<i class=\"fa fa-toggle-on\"></i>" : "<i class=\"fa fa-toggle-off\"></i>";
                    }
                },
                {
                    title: "有效", field: "EnabledMark", width: 50, align: "center",
                    formatter: function (value, row, index) {
                        return value == 1 ? "<i class=\"fa fa-toggle-on\"></i>" : "<i class=\"fa fa-toggle-off\"></i>";
                    }
                },
                { title: "描述", field: "Description", width: 100, align: "left" }
            ]]
        });
        //查询条件
        $("#queryCondition .dropdown-menu li").click(function () {
            var text = $(this).find('a').html();
            var value = $(this).find('a').attr('data-value');
            $("#queryCondition .dropdown-text").html(text).attr('data-value', value)
        });
        //查询事件
        $("#btn_Search").click(function () {
            //$gridTable.jqGrid('setGridParam', {
            //    url: "../../AuthorizeManage/Module/GetListJson",
            //    postData: {
            //        parentid: _parentId,
            //        condition: $("#queryCondition").find('.dropdown-text').attr('data-value'),
            //        keyword: $("#txt_Keyword").val()
            //    }
            //}).trigger('reloadGrid');

            $gridTable.datagrid('load', {
                parentid: _parentId,
                condition: $("#queryCondition").find('.dropdown-text').attr('data-value'),
                keyword: $("#txt_Keyword").val()
            });
        });
        //查询回车
        $('#txt_Keyword').bind('keypress', function (event) {
            if (event.keyCode == "13") {
                $('#btn_Search').trigger("click");
            }
        });
    }
    //新增
    function btn_add() {
        dialogOpen({
            id: "Form",
            title: '添加功能',
            url: '/AuthorizeManage/Module/Form?parentId=' + _parentId,
            width: "700px",
            height: "430px",
            btn: null
        });
    };
    //编辑
    function btn_edit() {
        var keyValue = $("#gridTable").easyUiGridRowValue("ModuleId");
        if (checkedRow(keyValue)) {
            dialogOpen({
                id: "Form",
                title: '编辑功能',
                url: '/AuthorizeManage/Module/Form?keyValue=' + keyValue,
                width: "700px",
                height: "430px",
                btn: null
            });
        }
    }
    //删除
    function btn_delete() {
        var keyValue = $("#gridTable").easyUiGridRowValue("ModuleId");
        if (keyValue) {
            $.RemoveForm({
                url: "../../AuthorizeManage/Module/RemoveForm",
                param: { keyValue: keyValue },
                success: function (data) {
                    $('#gridTable').datagrid('reload');
                }
            })
        } else {
            dialogMsg('请选择需要删除的数据项！', 0);
        }
    }
</script>
<div class="easyui-layout" data-options="fit:true">
    <div data-options="region:'west',split:true" style="width: 200px;">
        <div class="west-Panel">
            <div class="panel-Title">功能目录</div>
            <div id="itemTree"></div>
        </div>
    </div>
    <div data-options="region:'center',border:false" style="background:#fafafa;">
        <div class="easyui-layout" data-options="fit:true">
            <div data-options="region:'north',border:false" style="height:92px;overflow: hidden;">
                <div class="panel-Title">功能信息</div>
                <div class="titlePanel">
                    <div class="title-search" style="position:fixed;">
                        <table>
                            <tr>
                                <td>
                                    <div id="queryCondition" class="btn-group">
                                        <a class="btn btn-default dropdown-text" data-toggle="dropdown">选择条件</a>
                                        <a class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
                                        <ul class="dropdown-menu">
                                            <li><a data-value="EnCode">编号</a></li>
                                            <li><a data-value="FullName">名称</a></li>
                                            <li><a data-value="UrlAddress">地址</a></li>
                                        </ul>
                                    </div>
                                </td>
                                <td style="padding-left: 2px;">
                                    <input id="txt_Keyword" type="text" class="form-control" placeholder="请输入要查询关键字" style="width: 200px;" />
                                </td>
                                <td style="padding-left: 5px;">
                                    <a id="btn_Search" class="btn btn-primary"><i class="fa fa-search"></i>&nbsp;查询</a>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="toolbar">
                        <div class="btn-group">
                            <a id="lr-replace" class="btn btn-default" onclick="reload();"><i class="fa fa-refresh"></i>&nbsp;刷新</a>
                            <a id="lr-add" class="btn btn-default" onclick="btn_add()"><i class="fa fa-plus"></i>&nbsp;新增</a>
                            <a id="lr-edit" class="btn btn-default" onclick="btn_edit()"><i class="fa fa-pencil-square-o"></i>&nbsp;编辑</a>
                            <a id="lr-delete" class="btn btn-default" onclick="btn_delete()"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
                        </div>
                        <script>$('.toolbar').authorizeButton()</script>
                    </div>
                </div>
            </div>
            <div data-options="region:'center',border:false">
                <table id="gridTable"></table>
            </div>
        </div>
    </div>
</div>
