@{;
    ViewBag.Title = "信用报告:列表页面";
    Layout = "~/Views/Shared/_LayoutIndexEasyui.cshtml";
}
<link href="~/Content/styles/mesCSS.css" rel="stylesheet" />
<script src="~/Content/scripts/jquery/jquery-migrate-1.2.1.js"></script>
<script src="~/Content/scripts/jquery/jquery.jmpopups.js"></script>

<script>
    ;
    $(function () {
        GetGrid();
    });
    //加载表格
    function GetGrid() {
        //加载表格grid
        var $gridTable = $('#gridTable');
        $gridTable.datagrid({
            fit: true,
            title: "用户信用计算列表",
            idField: 'UserId',
            rownumbers: true,
            emptyMsg: '<div style="color:red; padding:4px; border-bottom:#ccc 1px solid;">无相关数据!</div>',
            sortName: 'CreateDate',
            sortOrder: 'desc',
            singleSelect: true,
            nowrap: true,
            columns: [[
                { title: '员工主键', field: 'UserId', checkbox: true },
                { title: '机构主键', field: 'OrganizeId', width: 50, align: 'left', sortable: true, hidden: true },
                { title: '部门主键', field: 'DepartmentId', width: 50, align: 'left', sortable: true, hidden: true },
                { title: '真实姓名', field: 'RealName', width: 80, align: 'left', sortable: true, hidden: false },

                { title: '身份证', field: 'carCode', width: 170, align: 'left', sortable: true, hidden: false },
                {
                    title: '性别', field: 'Gender', width: 40, align: 'left', sortable: true, hidden: false,
                    formatter: function (value, row, index) {
                        if (value == "1") { return "男" }
                        if (value == "0") { return "女" }

                    }
                },

                { title: '手机', field: 'Mobile', width: 90, align: 'left', sortable: true, hidden: false },
                { title: '电话', field: 'Telephone', width: 90, align: 'left', sortable: true, hidden: false },
                { title: '电子邮件', field: 'Email', width: 100, align: 'left', sortable: true, hidden: false },

                { title: '备注', field: 'Description', width: 100, align: 'left', sortable: true, hidden: false },

                {
                    title: '信用报告', field: 'SumCount', width: 90, align: 'left', hidden: false,
                    formatter: function (value, row, index) {
                        return '<a href="javascript:void(0)"  style="text-decoration:underline;" onclick="btnCount(\'' + row.UserId + '\')">计算</a>';
                    }
                }

            ]]
        });
        $("#btnSearch").click(function () {

            var userID = $("#userID").val();
            if (!userID) {
                dialogMsg("请先选择用户信息", 0);
                return;
            }

            $gridTable.datagrid({
                url: "../../BaseManage/Person/GetDataGridJsonV",
                queryParams: {
                    userID: userID
                }
            });

        });
        $("#btnReset").click(function () {
            $("#searchForm").find("input[type='text']").val("");
        });
    }
    function SelectPerson() {
        dialogOpen({
            id: "PersonIndexSelect",
            title: '选择用户',
            url: '/BaseManage/Person/PersonIndexSelect',
            width: "900px",
            height: "600px",
            callBack: function (iframeId) {
                top.frames[iframeId].getSelecteds(function (data) {

                    var rows = JSON.parse(data);   //console.info(data);
                    //userID carCode userName
                    $("#userID").val(rows[0].UserId);
                    $("#userName").val(rows[0].RealName);
                    $("#carCode").val(rows[0].carCode);

                    //var $gridTable = $('#gridTable');
                    //$gridTable.datagrid({
                    //    url: "../../BaseManage/Person/GetDataGridJsonV",
                    //    queryParams: {
                    //        userID: userID
                    //    }
                    //});

                });
            },
            btn: ['确认', '关闭']
        });
    }

    function showLoading(desc) {

        $("body").append("<div id=\"processingdiv\" style=\"display:none;\"><div class=\"popup\"> <div class=\"popup-body\" ><div class=\"loading\" ><span style=\"font-size: 20px;\">" + desc + "</span></div></div></div></div>");

        //alert($("head").html());

        $.openPopupLayer({
            name: "processing",
            width: 400,
            target: "processingdiv"
        });
    }

    function hideLoading() {
        $.closePopupLayer('processing');
        $("#processingdiv").remove();
    }
    function btnCount(userID) {

        showLoading("正在计算数据......");

        $.SaveForm({
            url: '../../CreditManage/CreditWrite/CreditSumCount',
            param: { userID: userID },
            loading: "正在保存数据...",
            success: function (data) {
                hideLoading();

                if (data.type == 1) { 
                    dialogOpen({
                        id: 'Form',
                        title: '信用报告记录',
                        url: '../../CreditManage/CreditWrite/CreditWriteCount?userID=' + userID,
                        width: '800px',
                        height: '600px',
                        callBack: function (iframeId) {
                            top.frames[iframeId].AcceptClick();
                        },
                        btn: ['确认', '关闭']
                    })
                }
                else {
                    hideLoading();
                    dialogMsg(data.message,0);
                }
            }
        })

    }


</script>
@*------------------------------JavaScript方法结束------------------------------*@

<div class="easyui-layout" data-options="fit:true">
    <div data-options="region: 'north', border: false" style="height: 60px; overflow: hidden; padding:15px 0px;">
        <!--搜索-->
        <div id="toolbar" style="position :fixed;width: 100%;padding:0 5px;">
            <div id="searchForm" style="display:inline-block;">

                <table>
                    <tr>
                        <th class="formTitle" style="width:70px">姓名</th>
                        <td class="formValue" style="position:relative;">
                            <input id="userName" type="text" class="form-control" readonly />
                            <input id="userID" type="hidden" class="form-control" readonly />
                            <a href="javascript:;" onclick="SelectPerson()" class="searchbox-buttonV" icon-index="0" tabindex="-1"></a>

                        </td>
                        <th class="formTitle" style="width:70px">身份证</th>
                        <td class="formValue" style="position:relative;">
                            <input id="carCode" type="text" class="form-control" readonly />
                        </td>
                        <td>&nbsp;</td>
                        <td>
                            <a id="btnReset" class="btn btn-default">&nbsp;重&nbsp;&nbsp;置</a>&nbsp;&nbsp;
                            <a id="btnSearch" class="btn btn-primary">&nbsp;查&nbsp;&nbsp;询</a>
                        </td>
                    </tr>
                </table>


            </div>


        </div>
    </div>
    <div data-options="region:'center',border: false">
        <table id="gridTable"></table>
    </div>
</div>

