@{
    ViewBag.Title = "分类管理";
    Layout = "~/Views/Shared/_IndexEasyui.cshtml";
}
<script>
    $(function () {
        GetGrid();
    });

    //加载表格
    function GetGrid() {
        var $gridTable = $("#gridTable");
        $gridTable.treegrid({
            fit: true,
            idField: 'ItemId',
            treeField: 'ItemName',
            rownumbers: true,
            singleSelect: true,
            nowrap: false,
            emptyMsg: '<div style="color:red;padding:4px;border-bottom:#ccc 1px solid;">无相关数据!</div>',
            url: "../../SystemManage/DataItem/GetTreeListJson",
            columns: [[
                { title: '主键', field: 'ItemId', hidden: true },
                { title: '名称', field: 'ItemName', width: 200, align: 'left' },
                { title: '编号', field: 'ItemCode', width: 200, align: 'left' },
                { title: '排序', field: 'SortCode', width: 80, align: 'left' },
                {
                    title: "树型", field: "IsTree", width: 50, align: "center",
                    formatter: function (cellvalue) {
                        return cellvalue == 1 ? "<i class=\"fa fa-toggle-on\"></i>" : "<i class=\"fa fa-toggle-off\"></i>";
                    }
                },
                {
                    title: "有效", field: "EnabledMark", width: 50, align: "center",
                    formatter: function (cellvalue) {
                        return cellvalue == 1 ? "<i class=\"fa fa-toggle-on\"></i>" : "<i class=\"fa fa-toggle-off\"></i>";
                    }
                },
                { title: "备注", field: "Description", width: 200, align: "left" }
            ]]
        });
        //$gridTable.authorizeColModel();
        //查询事件
        $("#btn_Search").click(function () {
           
            $gridTable.treegrid('load', {
                keyword: $("#txt_Keyword").val()
            });
        });
    }
    //新增
    function btn_add() {
        var _parentId = $("#gridTable").easyUiGridRowValue("ItemId");
        dialogOpen({
            id: "Form",
            title: '添加分类',
            url: '/SystemManage/DataItem/Form?_parentId=' + _parentId,
            width: "500px",
            height: "400px",
            callBack: function (iframeId) {
                top.frames[iframeId].AcceptClick();
            }
        });
    };
    //编辑
    function btn_edit() {
        var keyValue = $("#gridTable").easyUiGridRowValue("ItemId");
        if (checkedRow(keyValue)) {
            dialogOpen({
                id: "Form",
                title: '编辑分类',
                url: '/SystemManage/DataItem/Form?keyValue=' + keyValue,
                width: "500px",
                height: "400px",
                callBack: function (iframeId) {
                    top.frames[iframeId].AcceptClick();
                }
            });
        }
    }
    //删除
    function btn_delete() {
        var keyValue = $("#gridTable").easyUiGridRowValue("ItemId");
        if (keyValue) {
            $.RemoveForm({
                url: "../../SystemManage/DataItem/RemoveForm",
                param: { keyValue: keyValue },
                success: function (data) {
                   
                    $('#gridTable').treegrid('reload');
                }
            })
        } else {
            dialogMsg('请选择需要删除的分类！', 0);
        }
    }
</script>
<div class="easyui-layout" data-options="fit:true">
    <div data-options="region:'north',border:false" style="height:60px;overflow: hidden;">
        <div class="titlePanel">
            <div class="title-search">
                <table>
                    <tr>
                        <td>
                            <input id="txt_Keyword" type="text" class="form-control" placeholder="请输入要查询关键字" style="width: 200px;" />
                        </td>
                        <td style="padding-left: 5px;">
                            <a id="btn_Search" class="btn btn-primary"><i class="fa fa-search"></i>&nbsp;查询</a>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="toolbar">
                <div class="btn-group">
                    <a id="lr-replace" class="btn btn-default" onclick="reload();"><i class="fa fa-refresh"></i>&nbsp;刷新</a>
                    <a id="lr-add" class="btn btn-default" onclick="btn_add()"><i class="fa fa-plus"></i>&nbsp;新增</a>
                    <a id="lr-edit" class="btn btn-default" onclick="btn_edit()"><i class="fa fa-pencil-square-o"></i>&nbsp;编辑</a>
                    <a id="lr-delete" class="btn btn-default" onclick="btn_delete()"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
                </div>
            </div>
        </div>
    </div>
    <div data-options="region:'center',border:false">
        <table id="gridTable"></table>
    </div>
</div>