@{;
    ViewBag.Title = "待办任务表:列表页面";
    Layout = "~/Views/Shared/_LayoutIndexEasyui.cshtml";
}
<script>
    $(function () {
        InitialPage();
        GetGrid();
    });
    //初始化页面
    function InitialPage() {

        //完成状态
        $("#completeStatus").ComboBox({
            description: "==请选择==",
        }).bind("change", function () {
            var value = $(this).attr('data-value');
            $("#Sys_completeStatus").val(value);
        });
        //初始化
        $("#completeStatus").ComboBoxSetValue(0).trigger("change");

        $("#missionType").ComboBox({
            url: "../../SystemManage/DataItemDetail/GetDataItemListJson",
            param: { EnCode: "missionType" },
            id: "ItemValue",
            text: "ItemName",
            description: "==请选择==",
            height: "200px"
        }).bind("change", function () {
            var value = $(this).attr('data-value');
            $("#Sys_missionType").val(value);
        });

    }
    //加载表格
    function GetGrid() {
        //加载表格grid
        var $gridTable = $('#gridTable');
        $gridTable.datagrid({
            fit: true,
            idField: 'id',
            rownumbers: true,
            pagination: true,
            pageSize: 20,
            pageList: [20, 50, 100],
            sortName: 'CreateDate',
            sortOrder: 'desc',
            singleSelect: true,
            nowrap: false,
            emptyMsg: '<div style="color: red; padding: 4px; border-bottom:#ccc 1px solid;">无相关数据!</div>',
            url: "../../PublicInfoManage/Mission/getMyMission",
            queryParams: {
                splitPage: $("#filter-form").setQueryParmsAll()
            },
            onDblClickRow: function (index, row) {
                $gridTable.datagrid('unselectAll');
                $gridTable.datagrid('selectRow', index);
                btn_detail();
            },
            columns: [[
                { title: 'ID', field: 'id', checkbox: true },
                {
                    title: '任务类别', field: 'missionType', width: 80, align: 'left', sortable: true, hidden: false,
                    formatter: function (cellvalue, options, rowObject) {
                        return top.clientdataItem["missionType"][cellvalue] == undefined ? "" : top.clientdataItem["missionType"][cellvalue];
                    }
                },
                { title: '任务标题', field: 'missionTitle', width: 100, align: 'left', sortable: false, hidden: false },
                { title: '任务内容', field: 'missionContent', width: 250, align: 'left', sortable: false, hidden: false },
                { title: '任务访问URL', field: 'url', width: 100, align: 'left', sortable: false, hidden: true },
                { title: '备注', field: 'strMemo', width: 100, align: 'left', sortable: false, hidden: true },

                { title: '操作内容', field: 'pingCounts', width: 200, align: 'left', sortable: false, hidden: false },

                { title: '创建时间', field: 'CreateDate', width: 130, align: 'left', sortable: false, hidden: false },
                { title: '创建人', field: 'CreateUserName', width: 100, align: 'left', sortable: false, hidden: false },

                { title: '待办人', field: 'receiverName', width: 100, align: 'left', sortable: false, hidden: true },
                { title: '待办人ID', field: 'receiver', width: 100, align: 'left', sortable: false, hidden: true },

                { title: '完成时间', field: 'completeDate', width: 130, align: 'left', sortable: false, hidden: false },
                {
                    title: '状态', field: 'completeStatus', width: 50, align: 'left', sortable: false, hidden: false,
                    formatter: function (val, rec) {
                        if (val == "1") {
                            return '<span style="color:green;">已完成</span>';
                            
                        }
                        else {
                            return '<span style="color:red;">未完成</span>';
                        }
                    }
                }
            ]]
        });
        //$gridTable.authorizeColModel();//列表数据权限
        //查询条件
        $("#queryCondition .dropdown-menu li").click(function () {
            var text = $(this).find('a').html();
            var value = $(this).find('a').attr('data-value');
            $("#queryCondition .dropdown-text").html(text).attr('data-value', value)
        });
        //查询点击事件
        $("#btn_Search").click(function () {
            $gridTable.datagrid('load', {
                //queryJson: JSON.stringify(queryJson)
                splitPage: $("#filter-form").setQueryParmsAll()
            });
        });
        //重置
        $("#btn_Reset").click(function () {
            $("#filter-form").find("input[type='text']").val("");
            $("#filter-form").find("div[type='select']").ComboBoxSetValue("").trigger("change");
        });
    }
    //详细
    function btn_detail() {
        var keyValue = $("#gridTable").easyUiGridRowValue('id');
        if (checkedRow(keyValue)) {
            var url = $("#gridTable").easyUiGridRowValue('url');
            var missionTitle = $("#gridTable").easyUiGridRowValue('missionTitle');
            if (url) {
                top.tablist.newTab({
                    id: "MissionDetail",
                    title: missionTitle,
                    closed: true,
                    replace: true,
                    icon: "fa fa-file-text-o",
                    url: url
                });
            }
        }
    }
</script>
@*------------------------------JavaScript方法结束------------------------------*@
<div class="easyui-layout" data-options="fit:true">
    <div data-options="region: 'north', border: false" style="height: 60px; overflow: hidden;">
        <div class="titlePanel">
            <div class="title-search" style="position:fixed;z-index:2;">
                <table>
                    <tr>
                        <td>查询条件</td>
                        <td style="padding-left: 10px;">
                            <div class="ui-filter" style="width: 200px;">
                                <div class="ui-filter-text">
                                    <strong>请输入查询条件</strong>
                                </div>
                                <div id="searchbar" class="ui-filter-list" style="width: 350px;">

                                    <form>
                                        <table class="form" id="filter-form">

                                            <tr>
                                                <td class="formTitle">任务类别</td>
                                                <td class="formValue">
                                                    <input type="hidden" name="Conditions[0].Key" value="missionType" />
                                                    <input type="hidden" id="Sys_missionType" name="Conditions[0].Value">
                                                    <input type="hidden" name="Conditions[0].IsLike" value="true" />
                                                    <div id="missionType" type="select" class="ui-select"></div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="formTitle">完成状态</td>
                                                <td class="formValue">
                                                    <input type="hidden" name="Conditions[1].Key" value="completeStatus" />
                                                    <input type="hidden" id="Sys_completeStatus" name="Conditions[1].Value">
                                                    <input type="hidden" name="Conditions[1].IsLike" value="true" />
                                                    <div id="completeStatus" type="select" class="ui-select">
                                                        <ul>
                                                            <li data-value="">==请选择==</li>
                                                            <li data-value="0">未完成</li>
                                                            <li data-value="1">已完成</li>
                                                        </ul>
                                                    </div>
                                                </td>
                                            </tr>


                                        </table>
                                    </form>


                                    <div class="ui-filter-list-bottom">
                                        <a id="btn_Reset" class="btn btn-default">&nbsp;重&nbsp;&nbsp;置</a>
                                        <a id="btn_Search" class="btn btn-primary">&nbsp;查&nbsp;&nbsp;询</a>
                                    </div>
                                </div>
                            </div>
                        </td>

                    </tr>
                </table>
            </div>
            <div class="toolbar">
                <div class="btn-group">
                    <a id="lr-replace" class="btn btn-default" onclick="reload()"><i class="fa fa-refresh"></i>&nbsp;刷新</a>
                    <a id="lr-detail" class="btn btn-default" onclick="btn_detail()"><i class="fa fa-list-alt"></i>&nbsp;详细</a>
                </div>
            </div>
        </div>
    </div>
    <div data-options="region:'center',border: false">
        <table id="gridTable"></table>
    </div>
</div>
