/*报工页面样式表*/
/*头部导航*/
.headdiv {
    background-color: #797e86;
    color: #fff;
}

    .headdiv > div, .headdiv > div span {
        font-size: 16px !important;
    }
/*翻页导航内右侧信息*/
.pagination-info {
    line-height: 50px;
    height: 50px;
}
/*翻页按钮*/
.datagrid-pager a.l-btn, .pagination a.l-btn {
    min-width: 40px;
    height: 40px;
    line-height: 40px;
    padding: 0 6px;
    background-color: #ccc;
    margin: 0 5px;
    cursor: pointer;
}
/*按钮文字*/
.datagrid-pager a.l-btn .l-btn-left .l-btn-text {
    line-height: 40px;
    font-size: 18px;
}
/*datagrid 头部高度和行高*/
.datagrid-header, .datagrid-htable {
    height: 45px; /*easyui datagrid增大行高*/
}
/*datagrid 行高*/
.datagrid-row {
    height: 36px;
}
